.profile{
    width: 700px;
    padding: 30px;
    border: 2px solid black;
    border-radius: 10px;
}

.profile-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
}

.profile-info{
    margin-left: 200px;
}

.name {
    border: 2px solid black;
    padding: 10px;

    margin-top: 0;
    margin-bottom: 15px;
}

.group {
    display: inline-block;

    border: 2px solid black;
    padding: 5px 15px;

    margin: 0;
}

.description {
    clear: both;

    border: 2px dotted black; /*choose color later*/
    min-height: 120px;

    padding: 10px;
    margin-top: 30px;
}

.main-content {
    width: 700px;
    padding: 30px;
    border: 2px solid black; /*choose color later*/
    border-radius: 10px;
    margin-top: 30px;
    overflow: auto;
}

.left-side {
    width: 50%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

.right-side {
    width: 50%;
    float: right;
    padding: 20px;
    box-sizing: border-box;
}

p {
    font-size: 16px;
    font: Courier New, monospace;
    color: black;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    font: Georgia, serif;
    color: black;
    margin-top: 0;
    margin-bottom: 10px;
}
body{
    background-color: #f0f0f0;
}