.sidebar {
    float: left;
    width: 25%;
}

.aside {
    float: right;
    width: 70%;
}

.sidebar a {
    display: block;
    padding: 12px;
    margin-bottom: 5px;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: lightgray;
}

.content {
    display: none;
}

.content:target {
    display: block;
}