body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #d5ebff;
}

.header {
    background-color: #c5e0fa;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #c5e0fa;
    box-sizing: border-box;
}

.navigation-bar {
    overflow: hidden;
    text-align: center;
    background-color: #c5e0fa;
    border-top: 2px solid #d5ebff;
    border-bottom: 2px solid #c5e0fa;
    box-sizing: border-box;
}

.navigation-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navigation-bar li {
    display: inline-block;
    margin: 0 25px;
}

.navigation-bar a {
    display: inline-block;
    padding: 10px 5px;
    color: #063a6b;
    font-weight: bold;
    text-decoration: none;
}

.sidebar {
    float: left;
    width: 25%;
    padding: 12px;
    border: 1px solid #ddefff;
    background-color: #ddefff;
    margin: 0 auto;
    box-sizing: border-box;
}

.sidebar a {
    display: block;
    padding: 12px;
    margin-bottom: 5px;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #c1cfdb;
}

.main-content {
    float: right;
    width: 75%;
    padding: 12px;
    border: 1px solid #d5ebff;
    background-color: #d5ebff;
    box-sizing: border-box;
}

.content {
    display: none;
    padding: 12px;
}

.footer{
    clear: both;
    text-align: center;
    padding: 10px;
    background-color: #c5e0fa;
    border-top: 1px solid #c5e0fa;
    box-sizing: border-box;
}

.content:target {
    display: block;
    border: 1px solid #d5ebff;
    background-color: #d5ebff;
}

p {
    font-size: 16px;
    font-family: monospace;
    color: #0370d7;
}

.link {
    color: #063a6b;
    font-weight: bold;
    font-family: Georgia, serif;
    text-decoration: none;
}

.link:hover{
    color: #6a42e1;
    text-decoration: underline;
}